body {
	background-color:yellow;
}

div {
    margin-top: -125%;
		margin-left: 20%;
		line-height: 60px;


}

div2 {
    margin-top: 100%;
		margin-left: 20%;
		line-height: 60px;


}

div3 {
    margin-top: 200%;
		margin-left: 20%;
		line-height: 60px;

}
